.weather-app {
  border: 1px solid #dadde1;
  padding: 40px;
  border-radius: 15px;
  max-width: 600px;
  margin: 40px auto;
}

h1 {
  color: #6fd6d5;
  font-size: 28px;
  font-weight: bold;
  line-height: 30px;
}

ul {
  list-style-type: none;
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: gray;
  font-size: 16px;
  font-weight: 100;
  font-family: "Thasadith", sans-serif;
}

.temperature {
  position: relative;
  top: -54px;
  left: 78px;
  font-size: 50px;
  font-weight: 400;
  line-height: normal;

  font-family: "Thasadith", sans-serif;
}

.units {
  position: relative;
  top: -84px;
  left: 78px;
}

.search-form {
  margin-bottom: 20px;
}

.weather-forecast {
  font-family: "Thasadith", sans-serif;
  text-align: center;
  color: gray;
}

.forecast-temperature {
  font-family: "Thasadith", sans-serif;
  line-height: 50px;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}
